
body {	
	margin: 0;
	background-color: #e1f0f8;
	color: #484848;
}

.wrapper {
	position: relative;	
	width: 1145px;
	height: 2000px;
	left: 383px;
	right: 392px;
}

.header{	
	position: relative;
	height: 214px;
	width: 1145px;
	background-color: #ffffff;	
}

.logo {
	position: absolute;
	top: 15px;
	left: 25px;
}

.calculate {
	position: absolute;	
	color: #f36240;
	font-family: "Arial";
	font-size: 23px;
	font-weight: 400;
	text-decoration: underline;
	font-variant: small-caps;
	top: 101px;
	left: 544px;
}

.worktime {
	position: absolute;
	color: #484745;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	right: 28px;
	top: 74px;
}

.number {
	position: absolute;
	color: #484745;
	font-family: "Arial";
	font-size: 31px;
	font-weight: 400;
	right: 27px;
	top: 97px;
}

.navigation {
	position: absolute;
	height: 43px;
	width: 1142px;
	bottom: 0;
}

.navigation ul{
	display: inline-flex;	
	list-style: none;
}

.navigation li{	
	margin: 0px 50px 0px 50px;
	border-right: 1px;
}

.navigation a{
	color: #5f6973;
	font-family: "Arial";
	font-size: 24px;
	font-weight: 400;
	text-decoration: none;
}
.navigation a:hover {
	color: #ffffff;
	font-family: "Arial";
	background-color: #7bc3d5;
	background-size: 226px 57px;
}

.name {
	position: relative;
	height: 176px;
}

.name_h1 {
	position: absolute;
	color: #4b4b4b;
	font-family: "Arial";
	font-weight: 400;
	font-size: 64px;	
	top: -15px;
	left: 0;
}
.name_h2 {	
	position: absolute;
	color: #4b4b4b;
	font-family: "Arial";
	font-weight: 400;
	font-size: 26px;
	bottom: 0;
	left: 0;
}

.main {
	position: relative;
	height: 1516px;
}

.sidebar {
	position: absolute;
	width: 240px;
	height: 469px;
	border-radius: 5px;
	background-color: #ffffff;
	left: 0;
	top: 390px;
}

.sidebar ul {
	list-style-type: none;
	margin-left: -17px;
}

.sidebar li {
	margin-bottom: 17px;
}

.sidebar a {
	color: #8a8a8a;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
}

.sidebar a:hover {	
	color: #eb5825;
}

.sidebar p {
	color: #4b4b4b;
	font-family: "Arial";
	font-size: 20px;
	font-weight: 400;
	margin-left: 23px;
}

.top_info {
	position: relative;
	height: 610px;
	width: 877px;
	left: 266px;
	border-radius: 5px;
	background-color: #ffffff;
}

.top_info_header {
	position: absolute;
	left: 25px;
	top: 30px;
	color: #484848;
	font-family: "Arial";
	font-size: 26px;
	font-weight: 400;
}

.preview {
	position: absolute;
	left: 80px;
	top: 86px;
	margin-top: 0;
	margin-left: 0;
}

.preview figcaption {
	text-align: center;
	margin-top: 43px;
	color: #a6a6a6;
	font-family: "Arial";
	font-size: 18px;
	font-weight: 400;
}

.top_info ul {
	position: absolute;
	top: 91px;
	left: 380px;
}

.top_info li {	
	color: #eb5825;
}

.top_info li span{
	color: #484848;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 400;
}

.color_choice {
	position: absolute;
	height: 475px;
	width: 159px;
	top: 199px;
	left: 378px;
}

.top_info h3 {	
	position: absolute;
	color: #484848;
	font-family: "Arial";
	font-size: 20px;
	font-weight: 400;
	top: 199px;
	left: 380px;
}

.choice_img{
	position: absolute;
	top: 240px;
	left: 379px;
}

.under_image{
	position: absolute;
	color: #484848;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 400;
	width: 348px;
	left: 378px;
	top: 327px;
}

.top_info button {
	position: absolute;
	width: 311px;
	height: 43px;
	border-radius: 5px;
	background-color: #eb5825;
	color: #ffffff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	left: 379px;
	top: 404px;
	border: none;
}

.under_button {
	position: absolute;
	color: #8a8a8a;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 400;
	text-decoration: underline;
	left: 379px;
	top: 462px;
}

.bot_info {		
	position: absolute;
	height: 480px;
	width: 877px;	
	left: 266px;
	top: 1025px;
	border-radius: 5px;
	background-color: #ffffff;
}

.bot_info_header {
	display: block;
	color: #484848;
	font-family: "Arial";
	font-size: 26px;
	font-weight: 400;
}

.bot_info_top {
	position: absolute;
	width: 786px;
	height: 179px;
	top: 36px;
	left: 28px;	
}

.bot_info_top p {
	color: #484848;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 400;
}

.bot_info_top img {
	float: left;
}

.bot_info_bot {
	position: absolute;
	width: 786px;
	height: 179px;
	bottom: 51px;
	left: 29px;	
}

.bot_info_bot p {
	color: #484848;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 400;
}

.bot_info_bot img {
	float: left;
}

.review_header {
	position: absolute;
	height: 82px;
	width: 878px;	
	left: 267px;
	top: 1505px;
	vertical-align: middle;
}

.review_header p {
	position: absolute;
	color: #484848;
	font-family: "Arial";
	font-size: 26px;
	font-weight: 400;
	bottom: -5px;
	left: 0;
}

.review_header a {
	position: absolute;
	color: #eb5825;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	bottom: 21px;
	right: 0;
}

.review_block {
	position: absolute;
	height: 319px;
	width: 878px;	
	left: 267px;
	top: 1587px;
	border-radius: 5px;
	background-color: #ffffff;
}

.review_block a {
	position: absolute;
	color: #eb5825;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	text-decoration: underline;
	bottom: 113px;
	left: 44px
}

.review {
	position: absolute;
	left: 25px;
	top: 37px;
	width: 776px;
	height: 136px;
}

.review_name {
	position: absolute;
	top: 0;
	left: 0;
	color: #484848;
	font-family: "Arial";
	font-weight: 400;
	font-size: 16px;
	letter-spacing: -0.8px;
}

.review_date {
	color: #8a8a8a;
	font-family: "Arial";
	font-size: 14px;
	font-weight: 400;
}

.review img {
	position: absolute;
	top: 61px;
	left: 1px;
}

.review_info {
	position: absolute;
	color: #484848;
	font-family: "Arial";
	font-weight: 400;
	font-size: 14px;
	bottom: 0;
}

.arrow {
	position: absolute;
	left: 25px;
	bottom: 113px;
}

.review_block button {
	position: absolute;
	width: 163px;
	height: 39px;
	bottom: 37px;
	left: 26px;
	color: #ffffff;
	font-family: "Arial";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	border-radius: 5px;
	background-color: #eb5825;
	border: none;
	text-align: center;
}
